body{
    background-color: rgb(127, 30, 233);
}


iframe{
    border-radius: 22px;
}

h1 , h4 , h6{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(89, 229, 181);
}

button{
    border-radius: 22px;
    width: 110px;
    padding: 12px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(127, 30, 233);
    text-decoration-color: rgb(89, 229, 181); 
    text-emphasis-color: rgb(89, 229, 181);
    color: rgb(89, 229, 181);
    border-color: rgb(89, 229, 181);
    border-width: 4px;
    cursor:crosshair;
}

.container{
    width: 50px;
    padding: 100px;
    background-color: aqua;
}
